::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
}

.edit-form {
	width: 100%;
	border-radius: 0.3rem;
	margin: 0.2rem 0;
	padding: 0.3rem;
	outline: none;
}

.edit-form-active {
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.dash-container {
	height: 79.5vh;
}

.page-container {
	height: 92.8vh;
	display: grid;
	grid-template-columns: 230px auto;
}
.page-item {
	width: 100%;
	height: 100%;
	border-top: 1px solid rgb(100, 100, 100);
}
.g-tab {
	height: 57vh;
	box-sizing: border-box;
	border-radius: 0.5rem;
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	overflow: hidden;
	overflow-x: scroll;
	overflow-y: scroll;
}
.g-tab-body {
	border-radius: 0.5rem;
	height: 100%;
}

/* all modals */
.modal-container {
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	z-index: 999;
}
.modal-content {
	width: fit-content;
}

.test {
	border: 1px solid red;
}
